<settings>
    <mirrors>
        <mirror>
            <id>nexus</id>
            <mirrorOf>*</mirrorOf>
            <name>Maven public</name>
            <url>http://localhost:8081/repository/maven-public/</url>
        </mirror>
    </mirrors>
    <!-- <activeProfiles>
        <activeProfile>nexus</activeProfile>
    </activeProfiles>
    <profiles>
        <profile>
            <id>nexus</id>
            <repositories>
                <repository>
                    <id>central</id>
                    <url>http://central/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>central</id>
                    <url>http://central/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles> -->
    <servers>
        <server>
            <id>localhost:8082</id>
            <username>admin</username>
            <password>nexus-33</password>
        </server>
        <server>
            <id>nexus</id>
            <username>admin</username>
            <password>nexus-33</password>
        </server>
        <!-- <server>
            <id>nexus.udd.attijariwafa.net</id>
            <username>${NEXUS_USERNAME}</username>
            <password>${NEXUS_PASSWORD}</password>
        </server> -->
    </servers>
</settings>
 